body {
  color: #999;
  background: #f9fafb;
  font-family: "Source Sans Pro";
}

.img1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -268px;
  top: -186px;
}
.img2 {
  position: absolute;
}
.img3 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1058px;
  top: 650px;
}
.img4 {
  position: absolute;
  z-index: -1;
  bottom: -271px;
  right: 0px;
  top: 412px;
}
.form-control {
  box-shadow: none;
  border-color: #ddd;
}
.form-control:focus {
  border-color: #4aba70;
}
.login-form {
  width: 480px;
  margin: 0 auto;
  padding: 50px 0;
}
.login-form form {
  color: #434343;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
  padding: 30px;
}
.login-form h4 {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.login-form p {
  text-align: center;
  font-size: 15;
  color: #929eae;
  line-height: 20px;
}

.login-form .form-group {
  margin-bottom: 20px;
}
.login-form .form-group .form-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
}

.login-form .form-control,
.login-form .btn {
  background: rgba(243, 242, 255, 0.5);
  border: 1px solid rgba(99, 91, 255, 0.12);
  border-radius: 8px;
  color: #929eae;
  padding: 12px 15px;
  line-height: 20px;
  font-weight: 400;
}
.login-form .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.login-form .btn {
  background: #2563eb;
  border-radius: 8px;
  line-height: normal;
}

.login-form .checkbox-inline {
  float: left;
  color: #404252;
  font-weight: 400;
  font-size: 15px;
}
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .forgot-link {
  float: right;
}
.login-form .small {
  font-size: 16px;
  color: #929eae;
  line-height: 22px;
}
.login-form a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
